@model WebPresentation.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ApplicationUser</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.GivenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GivenName)
        </dd>

        <dt>
            Family Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            Email Address:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Role:
        </dt>
        <dd>
            <ul>
                @foreach (var role in ViewBag.Roles)
                {
                    <li>@role</li>
                }
            </ul>
        </dd>
        <dt></dt>
        <dt></dt>
        <dt>
            Unassigned Roles:
        </dt>
        <dd>
            <ul>
                @foreach (var role in ViewBag.NoRoles)
                {
                    <li>@role @Html.ActionLink("Change Role", "ChangeRole", new { Id = Model.Id, newRole = role, oldRole = ViewBag.Roles[0] }) </li>
                }
            </ul>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
